.grid-table {
  --grid-border-color: #ccc;
  border-collapse: collapse;
  border: 1px solid var(--grid-border-color);
  line-height: 0;
}

.grid-table td {
  padding: 0;
}

.grid-button {
  border-radius: 0;
  padding: 0;
  border: 1px solid var(--grid-border-color);
  background-color: #fff;
  width: 50px;
  height: 50px;
  outline: none;
}

.grid-button--Wall {
  background-color: #1e789a;
}